<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>reporting</id>
	<name>Reporting</name>
	<version>0.4.1.5</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Partners In Health</author>
	<description>
		The Reporting Module provides a user interface for defining 
		and managing core objects like reports, data sets, cohort queries, 
		indicators, dimensions, and report designs.  The module also provides 
		an extensible API for developing custom reports and new features.
	</description>
	<activator>@MODULE_PACKAGE@.ModuleActivator</activator>
	<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>	
	<require_version>1.5.2</require_version>

	<require_modules>
	   	<require_module>org.openmrs.module.serialization.xstream</require_module>
	   	<require_module>org.openmrs.module.htmlwidgets</require_module>
	</require_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.web.extension.RunAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.web.extension.ManageAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.web.extension.ConfigAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.module.reporting.run.localheader</point>
		<class>@MODULE_PACKAGE@.web.extension.RunAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.module.reporting.manage.localheader</point>
		<class>@MODULE_PACKAGE@.web.extension.ManageAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.web.extension.GutterListExt</class>
	</extension>
	
	<!-- Privileges -->
	<privilege>
		<name>Manage Reports</name>
		<description>Base privilege for add/edit/delete reporting definitions. This gives access to the administrative menus, but you need to grant additional privileges to manage each specific type of reporting definition</description>
	</privilege>
	<privilege>
		<name>Manage Report Definitions</name>
		<description>Add/Edit/Remove Report Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Data Set Definitions</name>
		<description>Add/Edit/Remove Data Set Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Indicator Definitions</name>
		<description>Add/Edit/Remove Indicator Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Dimension Definitions</name>
		<description>Add/Edit/Remove Dimension Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Cohort Definitions</name>
		<description>Add/Edit/Remove Cohort Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Report Designs</name>
		<description>Add/Edit/Remove Report Designs</description>
	</privilege>
	<!-- Global Properties -->
	<globalProperty>
		<property>report.deleteReportsAgeInHours</property> <!-- Must start with `moduleId.` -->
		<defaultValue>72</defaultValue>
		<description>Reports that are not explicitly saved are deleted automatically when they are this many hours old. (Values less than or equal to zero means do not delete automatically)</description>
	</globalProperty>
	
	<globalProperty>
		<property>reporting.preferredIdentifierTypes</property>
		<defaultValue></defaultValue>
		<description>Pipe-separated list of patient identifier type names, which should be displayed on default patient datasets</description>
	</globalProperty>
	
	<!--  Message Properties -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
	<!-- Hibernate Mappings -->
	<mappingFiles>
		ReportDesign.hbm.xml
	</mappingFiles>	

</module>
