<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "../lib-common/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>reporting</id>
	<name>Reporting</name>
	<version>0.2.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Partners In Health</author>
	<description>Core reporting API and services</description>
	<activator>@MODULE_PACKAGE@.ModuleActivator</activator>	
	<require_version>1.5.0.7475</require_version>
<!-- 
	<require_modules>
	   	<require_module>org.openmrs.module.serialization.xstream</require_module>
	</require_modules>
 -->
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.extension.html.GutterListExt</class>
	</extension>
	
	<!--  Message Properties -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

</module>

