*.class

# Package Files #
*.jar
*.war
*.ear
*.iml

.classpath
.idea
.project
.settings/*
api/.classpath
api/.project
api/.settings/*
api/target/*
api-tests/.classpath
api-tests/.project
api-tests/.settings/*
omod/.classpath
omod/.project
omod/.settings/*
omod/target/*
/.settings

.DS_Store
