/* - - - - - - - - - - - - - - - - - - - - -

Title : Wufoo Form Structure
Author : Infinity Box Inc.
URL : http://wufoo.com

$LastChangedDate: 2009-04-02 22:53:06 -0700 (Thu, 02 Apr 2009) $

- - - - - - - - - - - - - - - - - - - - - */

/*body{
	background:#eee;
	margin:0px 0 0px 0;
	text-align:left;
	width:100%;
	font-size:small;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}*/

#container{
	text-align:left;
	background:#fff;
}
#container, #top, #bottom, #footer{
	margin:0 auto;
	width:100%;
}
#top, #bottom{
	width:100%;
	height:10px !important;
	display:block !important;
}
#top{
	margin-top:10px;
}

form.wufoo{
	margin:20px 20px 0 20px;
	padding:0 0 20px 0;
}

/* ----- LOGO ----- */

/*
h1{
	margin:0;
	padding:0;
	min-height:0;
	background-color:#dedede;
	text-indent:-9000px;
	text-decoration:none;
}
*/
/*
h1 a{
	min-height:40px;
	height:40px;
	display:block;
	/*background:url(/images/wflogo.png) no-repeat left top;*/
	overflow:hidden;
}*/

/*
* html h1 a{
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/wflogo.png", sizingMethod="crop");
}*/

/*
img, a img{
	border:none;
	-ms-interpolation-mode: bicubic;
}

* html #top, * html #bottom{ 
	_behavior: url(/images/iepngfix.htc);
}
*/


.hide{
	display:none !important;
}
