<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.4">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Partners In Health</author>
	<description>
		The Reporting Module provides a user interface for defining 
		and managing core objects like reports, data sets, cohort queries, 
		indicators, dimensions, and report designs.  The module also provides 
		an extensible API for developing custom reports and new features.
	</description>
	<activator>@MODULE_PACKAGE@.ReportingModuleActivator</activator>
	<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>	
	<require_version>1.9.2</require_version>

	<require_modules>
	   	<require_module version="${serializationVersion}">org.openmrs.module.serialization.xstream</require_module>
	   	<require_module version="${htmlwidgetsVersion}">org.openmrs.module.htmlwidgets</require_module>
	   	<require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
	</require_modules>

    <!-- Required to support data export data set definition, which was moved out of core and into reportingcompatibility in 1.12 -->
    <aware_of_modules>
        <aware_of_module>org.openmrs.module.reportingcompatibility</aware_of_module>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
    </aware_of_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.web.extension.RunAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.web.extension.ManageAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.module.reporting.run.localheader</point>
		<class>@MODULE_PACKAGE@.web.extension.RunAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.module.reporting.manage.localheader</point>
		<class>@MODULE_PACKAGE@.web.extension.ManageAdminListExt</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.web.extension.GutterListExt</class>
	</extension>
	
	<!-- Privileges -->
	<privilege>
		<name>Manage Reports</name>
		<description>Base privilege for add/edit/delete reporting definitions. This gives access to the administrative menus, but you need to grant additional privileges to manage each specific type of reporting definition</description>
	</privilege>
	<privilege>
		<name>Manage Report Definitions</name>
		<description>Add/Edit/Remove Report Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Data Set Definitions</name>
		<description>Add/Edit/Remove Data Set Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Indicator Definitions</name>
		<description>Add/Edit/Remove Indicator Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Dimension Definitions</name>
		<description>Add/Edit/Remove Dimension Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Cohort Definitions</name>
		<description>Add/Edit/Remove Cohort Definitions</description>
	</privilege>
	<privilege>
		<name>Manage Report Designs</name>
		<description>Add/Edit/Remove Report Designs</description>
	</privilege>
	<privilege>
		<name>Manage Scheduled Report Tasks</name>
		<description>Manage Task Scheduling in Reporting Module</description>
	</privilege>
	<privilege>
		<name>Run Reports</name>
		<description>Schedule the running of a report</description>
	</privilege>
	<!-- Global Properties -->
	<globalProperty>
		<property>report.deleteReportsAgeInHours</property>
		<defaultValue>72</defaultValue>
		<description>Reports that are not explicitly saved are deleted automatically when they are this many hours old. (Values less than or equal to zero means do not delete automatically)</description>
	</globalProperty>
	<globalProperty>
		<property>reporting.maxReportsToRun</property>
		<defaultValue>1</defaultValue>
		<description>The maximum number of reports that should be processed at any one time</description>
	</globalProperty>	
	<globalProperty>
		<property>reporting.maxCachedReports</property>
		<defaultValue>10</defaultValue>
		<description>The maximum number of reports whose underlying data and output should be kept in the cache at any one time</description>
	</globalProperty>
	<globalProperty>
		<property>reporting.includeDataExportsAsDataSetDefinitions</property>
		<defaultValue>false</defaultValue>
		<description>If reportingcompatibility is installed, this indicates whether data exports should be exposed as Dataset Definitions</description>
	</globalProperty>
	<globalProperty>
		<property>reporting.preferredIdentifierTypes</property>
		<defaultValue></defaultValue>
		<description>Pipe-separated list of patient identifier type names, which should be displayed on default patient datasets</description>
	</globalProperty>
	<globalProperty>
		<property>reporting.runReportCohortFilterMode</property>
		<defaultValue>showIfNull</defaultValue>
		<description>Supports the values hide,showIfNull,show which determine whether the cohort selector should be available in the run report page</description>
	</globalProperty>
	<globalProperty>
		<property>reporting.dataEvaluationBatchSize</property>
		<defaultValue>-1</defaultValue>
		<description>
			This determines whether to run evaluators for Data in batches and what the size of those batches should be.
			A value of less than or equal to 0 indicates that no batching is desired.
		</description>
	</globalProperty>
	<globalProperty>
		<property>reporting.defaultDateFormat</property>
		<defaultValue>dd/MMM/yyyy</defaultValue>
		<description>Default date format to use when formatting report data</description>
	</globalProperty>
    <globalProperty>
        <property>reporting.defaultLocale</property>
        <defaultValue>en</defaultValue>
        <description>Default locale to use when formatting report data</description>
    </globalProperty>
    <globalProperty>
        <property>reporting.testPatientsCohortDefinition</property>
        <defaultValue></defaultValue>
        <description>Points to a cohort definition representing all test/fake patients that you want to exclude from all queries and reports. You may set this to the UUID of a saved cohort definition, or to "library:keyInADefinitionLibrary"</description>
    </globalProperty>
    <globalProperty>
        <property>reporting.evaluationLoggerEnabled</property>
        <defaultValue>false</defaultValue>
        <description>If false, will disable the built in use of the evaluation logger to log evaluation information for performance diagnostics</description>
    </globalProperty>

	<!--  Message Properties -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
			
	<!-- Hibernate Mappings -->
	<mappingFiles>
		ReportDesign.hbm.xml
		ReportRequest.hbm.xml
	</mappingFiles>
	
	<!-- dwr -->
	<dwr>
		<allow>			
			<create creator="new" javascript="DWRReportingService">
				<param name="class" value="org.openmrs.module.reporting.web.dwr.DWRReportingService"/>
				<include method="purgeReportRequest"/>
			</create>
		</allow>
		<signatures>
		<![CDATA[
			import org.openmrs.module.reporting.web.dwr.DWRReportingService;
			
			DWRReportingService.purgeReportRequest(Integer id);
		]]>
	</signatures>
	</dwr>
</module>
