#inline-list {
	border: 0px solid #000;
	margin: 0em;
	width: 100%;
	padding: 0px;
	padding-bottom: 20px;
	font-family: Verdana, sans-serif;
}

#inline-list p {
	display: inline;
}

#inline-list ul, #inline-list li {
	display: inline;
	margin: 0;
	padding: 0;
	color: #339;
	font-weight: bold;
}
	
#inline-list ul li:after {
	content: " | ";
}
	
#inline-list ul li.last:after {
	content: "";
}
	
.small {
	font-size: x-small;
}

.report-label {
	border: 1px gray solid;
	padding: 0px;
	margin: 0.2em;
}

.faded {
	color: #a0a0a0
}

.portlet {
	margin: 0.1em;
	padding-top: 0.1em;
	padding-bottom: 0.3em;
}
	
.portlet-header {
	padding: 0 0.2em;
}
.portlet-content {
	padding: 0 0.2em 0.2em 0.2em;
}

.reporting-data-table {
	border-collapse: collapse;
}

.reporting-data-table td, .reporting-data-table th {
	padding: 0;
}

#page h1 {
	margin-top: 1em;
	font-size:1.2em;
	font-weight:bold;
	color:black;
	border-bottom: 1px solid black;
}

#page h2 {
	font-size: 0.8em;
	color:black;
	padding-bottom:10px;
}

table {
	font-size: 1em;
}

.box {
    width: auto;
}

.boxHeader {
    width:auto;
}